body { margin: 0; background: #000000; overflow: hidden; }

.viewport {
  width: 100vw; height: 100vh;
  perspective: 1000px;
  display: flex; justify-content: center; align-items: center;
}

.scene {
  transform-style: preserve-3d;
  width: 100%; height: 100%;
}

.album {
  position: absolute;
  top: 50%; left: 50%;
  width: 350px; height: 350px;
  margin: -175px; 
  transition: opacity 0.5s;
}

.album img { width: 100%;
}